
<center>
    <h2>Contacts Search</h2>
    <form asp-controller="Contacts" asp-action="Index">
        <div class="input-group">
            <label class="radio-inline">
                <input type="radio" value="name" name="filter" checked />
                Filter by First Name
            </label>
            <label class="radio-inline">
                <input type="radio" value="email" name="filter" />
                Filter by Email
            </label>
        </div>

        <div class="input-group col-lg-3">
            <input id="keyword" type="text" class="form-control" placeholder="First Name" name="searchString" />
            <input name="filterType" type="text" hidden />
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Go!</button>
            </span>
        </div>
    </form>
</center>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var filterUrl = "/Contacts/AutoCompleteName";

            $("input[type=radio][name=filter]").change(function () {
                if (this.value == "email") {
                    $("#keyword").attr("placeholder", "Email");
                    filterUrl = "Contacts/AutoCompleteEmail";
                }
                else if (this.value == "name") {
                    $("#keyword").attr("placeholder", "First Name");
                    filterUrl = "/Contacts/AutoCompleteName";
                }
            });

            $("#keyword").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: filterUrl,
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item, value: item };
                            }))
                        }
                    })
                },
                messages: {
                    noResults: ""
                }
            });
        });
    </script>
}
